In [ ]:
#Chapter 06 - DataFrame Assignment
import numpy as np
import pandas as pd
import os
os.chdir("C:/Users/njoshi3/Documents/Data Science/NSArrows/")
iris_data = pd.read_csv("iris.csv")
print(iris_data)
print(type(iris_data))

In [ ]:
#1. Create the following dataframe:
#'group': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'], 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]}
import numpy as np
import pandas as pd
groupounces = [['a',4],['a',3],['a',12],['b',6],['b',7.5],['b',8],['c',3],['c',5],['c',6]]
groupouncesdf = pd.DataFrame(groupounces,columns=["groups","ounces"])
print(type(groupouncesdf))
print(groupouncesdf)

In [ ]:
#1. Another Method
import numpy as np
import pandas as pd
groupounces = {"group":['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
               "ounces":[4, 3, 12, 6, 7.5, 8, 3, 5, 6]}
groupouncesdf = pd.DataFrame(groupounces)
print(type(groupouncesdf))
print(groupouncesdf)

In [ ]:
#2. Sort the data frame in ascending order according to ounces column
import numpy as np
import pandas as pd
groupounces = {"group":['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
               "ounces":[4, 3, 12, 6, 7.5, 8, 3, 5, 6]}
groupouncesdf = pd.DataFrame(groupounces)
groupouncesdf = groupouncesdf.sort_values("ounces")
print(type(groupouncesdf))
print(groupouncesdf)

In [ ]:
#3. Multiply each value in the ounces column with 5.
import numpy as np
import pandas as pd
groupounces = {"group":['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
               "ounces":[4, 3, 12, 6, 7.5, 8, 3, 5, 6]}
groupouncesdf = pd.DataFrame(groupounces)
groupouncesdf["ounces"] = groupouncesdf["ounces"]*5
groupouncesdf = groupouncesdf.sort_values("ounces")
print(type(groupouncesdf))
print(groupouncesdf)

In [ ]:
#4. Write a program to calculate the mean, median and total sum of the values in the ounces column.
import numpy as np
import pandas as pd
groupounces = {"group":['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
               "ounces":[4, 3, 12, 6, 7.5, 8, 3, 5, 6]}
groupouncesdf = pd.DataFrame(groupounces)
groupouncesdf["ounces"] = groupouncesdf["ounces"]*5
#
#Calculating MEAN
#
dfmean = groupouncesdf["ounces"].mean()
print(dfmean)
print(type(dfmean))
#
#Calculating MEDIAN
#
dfmedian = groupouncesdf["ounces"].median()
print(dfmedian)
print(type(dfmedian))
#
#Calculating SUM
#
dfsum = groupouncesdf["ounces"].sum()
print(dfsum)
print(type(dfsum))

In [11]:
#Use Adult_information dataset to answer the following,
#5. Read the Adult_information dataset and perform the following:
#a. Check the information of the dataset
#b. Check for the NULL values in the dataset
#c. Check for the type values that each column contains in the dataset.
import numpy as np
import pandas as pd
import os
os.chdir("C:/Users/njoshi3/Documents/Data Science/NSArrows/")
customer_data = pd.read_csv("Customer_data.csv")
print("Customer Info :\n",customer_data.info())
print("Customer Data Type :\n",customer_data.dtypes)
print("Customer Data Null Check :\n",customer_data.isnull())
print("Customer Data Null SUM :\n",customer_data.isnull().sum())
print("--------------------\n")
print("Customer Data Null Column Wise CUST_ID :",customer_data["Cust_ID"].isnull().sum(),customer_data["Cust_ID"].isnull().sum()>0)
print("Customer Data Null Column Wise AGE     :",customer_data["Age"].isnull().sum(),customer_data["Age"].isnull().sum()>0)
print("Customer Data Null Column Wise Gender  :",customer_data["Gender"].isnull(),customer_data["Gender"].isnull().sum()>0)
print("Customer Data Null Column Wise City    :",customer_data["City"].isnull().sum(),customer_data["City"].isnull().sum()>0)
print(customer_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
Cust_ID    7 non-null object
Age        6 non-null float64
Gender     6 non-null object
City       7 non-null object
dtypes: float64(1), object(3)
memory usage: 304.0+ bytes
Customer Info :
 None
Customer Data Type :
 Cust_ID     object
Age        float64
Gender      object
City        object
dtype: object
Customer Data Null Check :
    Cust_ID    Age  Gender   City
0    False  False   False  False
1    False  False   False  False
2    False  False   False  False
3    False  False   False  False
4    False  False   False  False
5    False  False   False  False
6    False   True    True  False
Customer Data Null SUM :
 Cust_ID    0
Age        1
Gender     1
City       0
dtype: int64
--------------------

Customer Data Null Column Wise CUST_ID : 0 False
Customer Data Null Column Wise AGE     : 1 True
Customer Data Null Column Wise Gender  : 0    False
1    False
2    False
3    False
4    False
5    False
6     True
Name: Gender, dtype: bool True
Customer Data Null Column Wise City    : 0 False
  Cust_ID   Age  Gender     City
0  Cust_1  35.0    Male   Mumbai
1  Cust_2  24.0  Female  Chennai
2  Cust_3  20.0  Female    Delhi
3  Cust_4  45.0    Male  Chennai
4  Cust_5  37.0    Male   Mumbai
5  Cust_6  40.0  Female   Mumbai
6  Cust_x   NaN     NaN     Pune

In [16]:
#6. Replace the NULL values in the dataset.
import numpy as np
import pandas as pd
import os
os.chdir("C:/Users/njoshi3/Documents/Data Science/NSArrows/")
customer_data = pd.read_csv("Customer_data.csv")
customer_data["Gender"].fillna("GenderNotAvailable",inplace=True)
customer_data["Age"].fillna(method="ffill",inplace=True)
print(customer_data)

  Cust_ID   Age              Gender     City
0  Cust_1  35.0                Male   Mumbai
1  Cust_2  24.0              Female  Chennai
2  Cust_3  20.0              Female    Delhi
3  Cust_4  45.0                Male  Chennai
4  Cust_5  37.0                Male   Mumbai
5  Cust_6  40.0              Female   Mumbai
6  Cust_x  40.0  GenderNotAvailable     Pune

In [ ]:
#7. Create a cross-table of education with target variable.

In [24]:
#8. Sort the data in ascending order according to the ‘age’ and ‘hours.per.week’.
#8. Sort the data in ascending order according to the ‘age’ and ‘dayofmonth’.
import numpy as np
import pandas as pd
import os
os.chdir("C:/Users/njoshi3/Documents/Data Science/NSArrows/")
weightlossdata = pd.read_csv("WeightLoss.csv")
weightlossdata = weightlossdata.sort_values(["age","dayofmonth"])
print(weightlossdata.head(20))

      patientid  dayofmonth  age gender   bmi  bloodpressure diabetic  \
818         819           3   18   male  43.7            101       No
152         153           7   18   male  27.6             94      Yes
41           42          10   18   male  27.8             93       No
517         518          10   18   male  36.0             93       No
1185       1186          11   18   male  29.7            103       No
326         327          13   18   male  30.8             97      Yes
462         463          13   18   male  29.8             97       No
580         581          14   18   male  32.0             81      Yes
632         633          14   18   male  32.3             98      Yes
1331       1332          15   18   male  41.1            104       No
22           23          18   18   male  35.5            100      Yes
890         891          21   18   male  29.6             81      Yes
564         565          23   18   male  26.6             95       No
244         245          24   18   male  25.5             99      Yes
723         724          28   18   male  30.8             94       No
259         260          30   18   male  30.9             92       No
502         503           2   19   male  22.7             82       No
85           86           3   19   male  27.9             94      Yes
90           91           3   19   male  32.0            100      Yes
730         731           4   19   male  32.3             93      Yes

      children smoker     region  weightlossinGrams
818          1     No  southwest           11576.13
152          0     No  northwest            2523.17
41           0     No  northwest            1635.73
517          2     No  southeast            7160.33
1185         2     No  northeast           32108.66
326          0     No  southwest            4646.76
462          2     No  southeast            6406.41
580          2     No  northwest            8116.27
632          1     No  northwest            8765.25
1331         1    Yes  southeast           48970.25
22           0     No  southeast            1532.47
890          0     No  northeast           12731.00
564          1     No  southeast            7742.11
244          0     No  northeast            3645.09
723          3     No  northeast           10141.14
259          2     No  northwest            3877.30
502          3     No  southeast            6985.51
85           0     No  northeast            1967.02
90           0     No  southeast            1981.58
730          3     No  northwest           10269.46

In [28]:
#9. Create a pivot table for the sum of working hours of the ‘target’ and ‘hours.per.week’.
# Here we are doing pivot table for the sum of weightlossingrams of the Age and Gender
weightlosspivot = weightlossdata.pivot_table(index=["age","gender"],
                                            values=["weightlossinGrams"],
                                            aggfunc={'sum','max','median', 'mean', 'min'})
print(weightlosspivot)

           weightlossinGrams
                         max          mean     median      min        sum
age gender
18  male            48970.25  10723.629375   7451.220  1532.47  171578.07
19  male            47462.89  13785.379655  10269.460  1146.80  399776.01
20  male            46151.12  16147.278846   8862.905  1149.40  419829.25
21  male            40273.65  11826.746111   6793.125  1628.47  212881.43
22  male            46889.26  21664.031250  19865.850  1826.84  519936.75
23  male            47055.53  12455.105357   9286.310  1149.40  348742.95
24  male            15170.07   8709.474375   8565.540  1131.51  139351.59
25  female          48885.14  12953.233000   6781.675  2899.49  259064.66
    male            42760.50  13518.558333  10191.685  1704.57  162222.70
26  female          46255.11  10322.036538   8379.435  1759.34  268372.95
    male            49577.66  17979.301905   8703.460  2221.56  377565.34
27  female          47305.31  14615.587500   9877.875  1744.47  350774.10
    male            41676.08  15199.709444  10442.810  1135.94  273594.77
28  female          20167.34   9448.233889   9203.685  1633.04  170068.21
    male            43921.18  15831.107222   8026.440  1815.88  284959.93
29  female          33471.97  10840.535625   8369.315  1634.57  173448.57
    male            46718.16  15862.601667   8790.530  1141.45  380702.44
30  female          63770.43  20334.770526  18838.700  2166.73  386360.64
    male            60021.40  11593.236538   8551.160  1137.01  301424.15
31  female          36397.58   9837.980500   7903.100  3578.00  196759.61
    male            41097.16  11592.653333   7056.315  1682.60  208667.76
32  female          42983.46  13675.129444   6770.765  1727.79  246152.33
    male            38415.47  13719.072308   7907.780  1252.41  356695.88
33  female          47896.79  12084.976471   8233.100  2217.60  205444.60
    male            21259.38  10515.168333  11420.775  2104.11  189273.03
34  female          36149.48  10770.606316   7639.420  2730.11  204641.52
    male            38344.57  10585.620000   9474.595  1526.31  211712.40
35  female          45008.96  13128.991875   8234.165  1622.19  210063.87
    male            41034.22  11202.369500   7765.840  1261.44  224047.39
36  female          43943.88  14691.856316  11085.590  1615.77  279145.27
...                      ...           ...        ...      ...        ...
41  female          18955.22   8589.910000   8279.070  2150.47  137438.56
    male            47269.85  13997.275000   4933.115  1261.86  111978.20
42  female          40932.43  10950.998095  10043.250  1877.93  229970.96
    male            45710.21  16227.058125   9335.385  1534.30  259632.93
43  female          46113.51  12618.630435   9249.500  1631.67  290228.50
    male            52590.83  15444.580000  11272.330  1906.36  417003.66
44  female          55135.40  14335.750000  10115.010  2026.97  215036.25
    male            51194.56  13023.363500  10613.145  1639.56  260467.27
45  female          44400.41  17104.930476  14394.400  2842.76  359203.54
    male            48675.52  13339.148421  11013.710  1515.34  253443.82
46  female          34838.87  11571.334375   7931.905  3238.44  185141.35
    male            41999.52  14527.518214   7622.440  2438.06  406770.51
47  female          46200.99  13875.222667  10713.640  1631.82  208128.34
    male            46130.53  15003.788261  11326.710  1137.47  345087.13
48  female          37079.37   9627.737000   6441.485  2020.18  192554.74
    male            37829.72   8872.948500   6706.490  1391.53  177458.97
49  female          47928.03  13095.035000   7686.520  1633.96  235710.63
    male            48673.56  10360.826500   3280.680  1263.25  207216.53
50  female          39983.43  12957.134118  11729.680  1607.51  220271.28
    male            44501.40  16174.878000   9620.330  1720.35  242623.17
51  female          41661.60  11409.010000  10381.480  1728.90  193953.17
52  female          48824.45  16298.176111  10993.160  1629.83  293367.17
53  female          27808.73  11546.692000  10338.930  1880.07  173200.38
54  female          40419.02   9840.272353   7727.250  2020.55  167284.63
55  female          42969.85  12083.380385   7389.685  2217.47  314167.89
56  female          46661.44  13892.810000   9374.580  4718.20  250070.58
57  female          45863.21  13109.417619  11073.180  2597.78  275297.77
58  female          37270.15  12093.242353   7935.290  1621.88  205585.12
59  female          58571.07  13514.357273  11070.605  2117.34  297315.86
60  female          44641.20  13180.474762   9625.920  1731.68  276789.97

[69 rows x 5 columns]

In [34]:
#10. Write a program to inner join the two given data frames.
#Create dataframe from the following data:
#student_data1:
#  student_id name marks
#0 S1 Danniella Fenton 200
#1 S2 Ryder Storey 210
#2 S3 Bryce Jensen 190
#3 S4 Ed Bernal 222
#4 S5 Kwame Morin 199
import numpy as np
import pandas as pd
studentdata1 = {"StudentId":["S1","S2","S3","S4","S5"],
               "StudentName":["Danniella Fenton","Ryder Storey","Bryce Jensen","Ed Bernal","Kwame Morin"],
               "Marks":[200,201,190,222,199]}
studentdatadf1 = pd.DataFrame(studentdata1)
print(studentdatadf1)
#student_data2:
#student_id name marks
#0 S4 Scarlette Fisher 201
#1 S5 Carla Williamson 200
#2 S6 Dante Morse 198
#3 S7 Kaiser William 219
#4 S8 Madeeha Preston 201
studentdata2 = {"StudentId":["S4","S5","S6","S7","S8"],
               "StudentName":["Scarlette Fisher","Carla Williamson","Dante Morse","Kaiser William","Madeeha Preston"],
               "Marks":[201,200,198,219,201]}
studentdatadf2 = pd.DataFrame(studentdata2)
print(studentdatadf2)
# Inner Join: Inner join is the most common type of join you’ll be working with. 
# It returns a dataframe with only those rows that have common characteristics. 
# This is similar to the intersection of two sets.
innerjoindf = pd.merge(studentdatadf1,studentdatadf2,on="StudentId",how="inner")
print(innerjoindf)

  StudentId       StudentName  Marks
0        S1  Danniella Fenton    200
1        S2      Ryder Storey    201
2        S3      Bryce Jensen    190
3        S4         Ed Bernal    222
4        S5       Kwame Morin    199
  StudentId       StudentName  Marks
0        S4  Scarlette Fisher    201
1        S5  Carla Williamson    200
2        S6       Dante Morse    198
3        S7    Kaiser William    219
4        S8   Madeeha Preston    201
  StudentId StudentName_x  Marks_x     StudentName_y  Marks_y
0        S4     Ed Bernal      222  Scarlette Fisher      201
1        S5   Kwame Morin      199  Carla Williamson      200

In [35]:
#11. Write a program to outer join the two given data frames.
#Full Outer Join: A full outer join returns all the rows from the left dataframe, 
#all the rows from the right dataframe, and matches up rows where possible, with NaNs elsewhere.
#But if the dataframe is complete, then we get the same output.
#
fullouterjoindf = pd.merge(studentdatadf1,studentdatadf2,on="StudentId",how="outer")
print(fullouterjoindf)
#
#12. Write a program to right join the two given data frames.
#Right Outer Join: For a right join, all the records from the second dataframe will be displayed.
#However, only the records with the keys in the first dataframe that can be found in the second dataframe will be displayed.
#
rightouterjoindf = pd.merge(studentdatadf1,studentdatadf2,on="StudentId",how="right")
print(rightouterjoindf)
#
#13. Write a program to Left join the two given data frames
#Left Outer Join: With a left outer join, all the records from the first dataframe will be displayed, 
#irrespective of whether the keys in the first dataframe can be found in the second dataframe. 
#Whereas, for the second dataframe, only the records with the keys in the second dataframe that can be found 
#in the first dataframe will be displayed.
#
leftouterjoindf = pd.merge(studentdatadf1,studentdatadf2,on="StudentId",how="left")
print(leftouterjoindf)
#

  StudentId     StudentName_x  Marks_x     StudentName_y  Marks_y
0        S1  Danniella Fenton    200.0               NaN      NaN
1        S2      Ryder Storey    201.0               NaN      NaN
2        S3      Bryce Jensen    190.0               NaN      NaN
3        S4         Ed Bernal    222.0  Scarlette Fisher    201.0
4        S5       Kwame Morin    199.0  Carla Williamson    200.0
5        S6               NaN      NaN       Dante Morse    198.0
6        S7               NaN      NaN    Kaiser William    219.0
7        S8               NaN      NaN   Madeeha Preston    201.0
  StudentId StudentName_x  Marks_x     StudentName_y  Marks_y
0        S4     Ed Bernal    222.0  Scarlette Fisher      201
1        S5   Kwame Morin    199.0  Carla Williamson      200
2        S6           NaN      NaN       Dante Morse      198
3        S7           NaN      NaN    Kaiser William      219
4        S8           NaN      NaN   Madeeha Preston      201
  StudentId     StudentName_x  Marks_x     StudentName_y  Marks_y
0        S1  Danniella Fenton      200               NaN      NaN
1        S2      Ryder Storey      201               NaN      NaN
2        S3      Bryce Jensen      190               NaN      NaN
3        S4         Ed Bernal      222  Scarlette Fisher    201.0
4        S5       Kwame Morin      199  Carla Williamson    200.0

In [1]:
x = 'print(55)'
eval(x)

55